.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    /*background-color: #2f303a;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
}

.hero__text {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
    @include fontparametrs(900, 44, 1.36, 0.06);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
}

.hero__button {
    font-family: var(--main-font);
    @include fontparametrs(700, 16, 1.88, 0.06);
    align-items: center;
    text-align: center;
    color: var(--main-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 50px;
    border: 0px;
}