img {
    display: block;
}

a {
    text-decoration: none;
}

ul, .list {
    list-style: none;
}

h1, h2, h3, p, ul, .list{
    margin: 0;
    padding: 0;
    
}
h1 {
    color: var(--main-background-color);
}

h2,
h3 {
    color: var(--secondary-text-color);
}


.btn {
    cursor: pointer;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}