.subscribe-container {
  margin-left: 93px;
  position: relative;
  width: 570px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  @include fontparametrs(700, 14, 1.14, 0.03);
  text-transform: uppercase;
  color: var(--main-color);
}

.subscribe__input {
  margin-top: 20px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--main-color);
  background-color: inherit;
  &::placeholder {
  font-style: normal;
  @include fontparametrs(400, 16, 1.25, 0.03);
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
}

.subscribe__btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.subscribe__submit-button {
  width: 200px;
  height: 50px;
  @include fontparametrs(700, 16, 1.87, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
}

.subscribe__button-icon {
  margin-left: 10px;
  fill: var(--main-color);
}
