.team {
  background-color: var(--secondary-background-color);
}

.team__header {
  @include fontparametrs(700, 36, 1.17, 0.03);
  text-align: center;
  padding-bottom: 50px;
}

.team__list {
  @extend %flex-align;
  list-style: none;
}

.team__cards {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.card__descr {
  padding-bottom: 30px;
}

.card__participant {
  padding-top: 30px;
  padding-bottom: 10px;
  @include fontparametrs(500, 16, 1.19, 0.03);
  text-align: center;
}

.card__profession {
  @include fontparametrs(400, 16, 1.19, 0.03);
  text-align: center;
  margin-bottom: 16px;
}
